---
apiVersion: ceph.rook.io/v1
kind: CephCluster
metadata:
  name: "{{ cephClusterName }}"
  namespace: "{{ operatorNamespace }}"
spec:
  cephVersion:
    image: "{{ cephClusterImage }}"
  dataDirHostPath: "{{ rookHostDir }}"
  mon:
    count: 3
    allowMultiplePerNode: false
  dashboard:
    enabled: true
    ssl: false # because it will get proxied by a keycloak gatekeeper
  monitoring:
    enabled: true
    rulesNamespace: "{{ operatorNamespace }}"
  network:
    hostNetwork: false
  crashCollector:
    disable: true # crashcontroller cant run on nodes where mons are running, see: https://github.com/rook/rook/pull/4688/files
  rbdMirroring:
    workers: 0
  storage:
    useAllNodes: false
    useAllDevices: false
    config:
      storeType: filestore
    nodes:
{% for node in storageNodes %}
      - name: "{{ node }}"
        devices:
{% for device in cephClusterDisks %}
          - name: "{{ device }}"
{% endfor %}
{% endfor %}
  disruptionManagement:
    managePodBudgets: true
