---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ operatorNamespace }}"
---
apiVersion: operators.coreos.com/v1alpha2
kind: OperatorGroup
metadata:
  name: operatorgroup
  namespace: "{{ operatorNamespace }}"
spec:
  targetNamespaces:
    - "{{ operatorNamespace }}"
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: "{{ operatorName }}"
  namespace: "{{ operatorNamespace }}"
spec:
  channel: "{{ operatorChannel }}"
  name: rook-ceph
  source: operatorhubio-catalog
  sourceNamespace: olm
