---
apiVersion: v1
kind: Service
metadata:
  name: {{ item.name }}
  namespace: {{ item.namespace }}
spec:
  selector:
    {{ item.serviceSelector }}
  ports:
    - protocol: {{ item.serviceProtocol }}
      port: {{ item.servicePort }}
      targetPort: {{ item.serviceTargetPort }}
  sessionAffinity: None
  type: ClusterIP
